.hamberger {
    font-size: 98px;
    position: absolute;
    top: 102px;
    left: 2vh;
    color: green;
    width: 109px;
}
.closeNav {
    font-size: 98px;
    position: absolute;
    top: 102px;
    right: 2vh;
    color: green;
    width: 109px;
}
.hideNaveBtn {
    display: none !important;
}
.showNaveBtn {
    display: block !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e3e3e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.cardImg {
       width: 17rem;
    height: 15rem;
    margin-top: 0rem;
    border: 2px solid black;
    background-color: black;
    object-fit: cover;
}
.bottoNav {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 165px !important;
    background: black !important;
    opacity: 0.57 !important;
}
.liveImg {
    width: 97px;
    height: 41px;
}
.controls {
    position: absolute !important;
    bottom: 40px !important;
    color: white !important;
    font-size: 58px !important;
    z-index: 45 !important;
    z-index: 45 !important;
}
.vjs-control-bar {
    display: none !important;
}
.setBoxShadow {
    box-shadow: -1px 0px 14px 9px rgba(64, 166, 76, 1);
    transform: scale(1.02);
}
.closeimg {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 56px;
}
.Openimg{
	position: absolute;
    left: 4rem;
    top: 4rem;
    width: 80px;
}

.pause-btn{
	color: #0E7B42;
    font-size: 46px;
    display: none;
}